@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Something unknown has happened . Please Contact Admin</h2>
        @*@Model.ControllerName
        @Model.ActionName
        @Model.Exception*@
      

    </hgroup>
</body>
</html>
