@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Hello, Welcome to the Online Recruitment System.</p>
<p>Here you can get the best jobs related to your profession.</p>
<p>And Upload your job to hire best Employees.</p>
