<br />

<div class="jumbotron">
    <h1>Online Recruitment System</h1>
    <p class="lead">Welcome to our Portal</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<br />
<br />
<br />
<br />
<p><h1 class="text-center">Popular Companies</h1></p>
<br />
<div>
    <div class="col-md-4" style="background-color:lightgray; height:200px; border-radius:5px; width:370px; margin-right:10px; margin-left:5px">
        <h3 style="text-align:center;">Capgemini</h3>
        <p style="font-family:Verdana">.Net Full Stack Developer as a Fresher</p>
        <p>Skills Required : Core knowledge of .Net, C#, Angular, JavaScript, Html and CSS </p>
        <p style="text-align:center; margin-top:20px"><a href="@Url.Action("Search","Home")" class="btn btn-primary">Visit &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:lightgray; height:200px; border-radius:5px; width:370px; margin-right:10px">
        <h3 style="text-align:center;">Accenture</h3>
        <p style="font-family:Verdana">Java Developer as a Fresher</p>
        <p>Skills Required : Core knowledge of Java, Angular, Html, CSS, JQuery  and Bootstrap </p>
        <p style="text-align:center; margin-top:20px"><a href="@Url.Action("Search","Home")" class="btn btn-primary">Visit &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:lightgray; height:200px; border-radius:5px;  width:370px">
        <h3 style="text-align:center;">TCS</h3>
        <p style="font-family:Verdana">Python full stack Developer</p>
        <p>Skills Required : Core knowledge of Python, JavaScript, PHP and konwledge of Machine Learning </p>
        <p style="text-align:center; margin-top:20px"><a href="@Url.Action("Search","Home")" class="btn btn-primary">Visit &raquo;</a>  </p>
    </div>
</div>
